body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

#canvas-container {
    margin-right: 20px;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.info-box h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#next-piece-display, #held-piece-display {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    background-color: #555;
}

#score-display, #status-display {
    font-size: 24px;
    margin: 10px 0;
}

.color-queue {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.color-box {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid #fff;
    align-items: baseline;
}

.tetris-grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 1px;
    background-color: #000;
    border: 5px solid #fff;
}

.tetris-cell {
    width: 100%;
    height: 100%;
    background-color: #222;
    border: 1px solid #333;
}
